.comment-input {
  border: none !important;
  border-radius: 20px !important;
  width: 620px !important;
  height: 35px;
  transition: 0.2s ease-in-out;
  background-color: rgba(224, 221, 221, 0.5);
}
.comment-container {
  width: auto;
  height: auto;
  max-width: 580px;
  padding: 8px 12px 8px 8px;
  background-color: rgba(224, 221, 221, 0.5);
  border-radius: 20px !important;
}
.chip-comment:hover {
  text-decoration: underline;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
