.market-btn {
  outline: none;
  border: none;
  width: 100%;
  height: 35px;
  font-size: 15px;
  cursor: pointer;
  color: #3086f3;
  background-color: #e7f3ff;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  margin-top: 10px;
}
.market-btn:hover {
  background-color: #c2dcf7;
  transition: 0.3s ease-in-out;
}
.plus-market {
  font-size: 20px;
  position: absolute;
  padding-right: 10px;
  top: 127px;
  left: 95px;
  /* z-index: ; */
}
.plus-market-1 {
}
.market-img {
  width: 240px;
  height: 250px;
  border-radius: 12px;
}
.market-card-price {
  font-size: 20px;
  font-weight: 600;
}
.market-card-place {
  font-size: 14px;
  font-weight: 300;
}
.market-card-product {
  word-break: break-all;
  width: 240px;
  padding-bottom: 6px;
}
/* sponsor */
.a-tag {
  text-decoration: none;
  color: #3086f3;
}
.a-tag:hover {
  text-decoration: underline;
  transition: 0.3s ease-in;
}
